.body.selected{
    display: none;
}

.products{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    grid-template-columns:repeat(4,auto)
}

.product{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}