.header{
    display: flex;
    justify-content: space-between;
    background-color: azure;
    align-items: center;
    position: sticky;
    top:0;
}

.center_section{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

::-webkit-scrollbar{
    display: none;
}

.sub_menu{
    display: flex;
    flex-direction: column;
}

.travel{
    cursor: pointer;
    position: relative;
}

.electronics{
    cursor: pointer;
    position: relative;
}
.headset{
    cursor: pointer;
    position: relative;
}
.accessories{
    cursor: pointer;
    position: relative;
}

.link{
    font-style: normal;
    color: black;
    text-decoration: none;
}