.header{
    display: flex;
    justify-content: space-between;
    background-color: #99a0ff;
    align-items: center;
    position: sticky;
    top:0;
}

.center_section{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

::-webkit-scrollbar{
    display: none;
}

.sub_menu{
    display: none;
    border: 1px solid;
    border-color: #9abeff !important;
    background-color: #ffffff;
    top: 105%;
    width: 150px;
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.sub_menu > span{
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(141, 141, 141);
}

.sub_menu > span:hover{
    color: rgb(87, 87, 87);
    background-color: #99a0ff;
}


.dropdown{
    cursor: pointer;
    position: relative;
}


.link{
    font-style: normal;
    color: black;
    text-decoration: none;
}